{{#link-to 'question' question.id}}
<h3>{{question.title}}</h3>

<p>
  title -> {{question.title}} <br>
  question -> {{question.question}} <br>
  author -> {{question.author}} <br>
</p> <br>
{{/link-to}}
