<h4>question tile</h4>
<div>
  {{#link-to 'question' question.id}}
<h3>{{question.title}}</h3>
  {{/link-to}}

<p>
  title -> {{question.title}} <br>
  author -> {{question.author}} <br>
  question -> {{question.question}} <br>
</p> <br>
</div>
