<h1>message board</h1>
<hr>
<h2>many a link</h2>
<ul>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'new-question'}}New Question{{/link-to}}</li>
</ul>
<hr>
{{outlet}}
