<h1>index.hbs</h1>
<hr>
<h2>Each Question</h2>
{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}
<hr>
<h2>Each Answer</h2>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
